#h1{
    text-align: center;
    font-family: sf pro text;
    color: ivory
;

}
#h2{
    text-align: left;
    font-family: sf pro text;
    color: ivory;
}
#h3{
    text-align: left;
    font-family: sf pro text;
    color: ivory;
}
#p{
    text-align: left;
    font-family: sf pro text;
    color: ivory;
}
#can{

    width: 600px;
    height: 600px;
    border: 2px solid rgb(197, 212, 228) ;
    align-items: left;
}
#body{
    background-position: right;
    background-size: contain;
    background-image: url(https://news.itmo.ru/images/news_trans/big/p8629.jpg);
}