#h1{
    text-align: center;
    font-family: sf pro text;
    color: black;
;

}
#h2{
    text-align: center;
    font-family: sf pro text;
    color: black;
}
#h3{
    text-align: center;
    font-family: sf pro text;
    color: black;
}
#p{
    text-align: center;
    font-family: sf pro text;
    color: black;
}
#can{
    width: 700px;
    height: 500px;
    border: 2px solid rgb(197, 212, 228) ;
    
}
